<div class="layui-side layui-side-menu">
    <div class="layui-side-scroll">
        <div class="layui-logo" lay-href="{$homeInfo['href']}">
            <span>{$homeInfo['adminName']}</span>
        </div>

        <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu"
            lay-filter="layadmin-system-side-menu">
            <!--    控制面板        -->
            <li data-name="console" class="layui-nav-item layui-this">
                <a lay-href="{$homeInfo['href']}">
                    <i class="layui-icon layui-icon-home"></i>
                    <cite>{$homeInfo['name']}</cite>
                </a>
            </li>
            <!--    菜单遍历        -->
            {foreach $menuInfo as $key=>$vo }
                {present name="vo.list"}
                <li data-name="{$vo.name}" class="layui-nav-item">
                    <a href="javascript:;" lay-tips="{$vo.name}" lay-direction="2">
                        <i class="layui-icon {$vo.icon}"></i>
                        <cite>{$vo.name}</cite>
                    </a>
                    <dl class="layui-nav-child">
                        {volist name="vo.list" id="item"}
                        <dd>
                            <a lay-href="{$item.path}">
                                <i class="layui-icon {$item.icon}"></i>
                                <cite>{$item.name}</cite>
                            </a>
                        </dd>
                        {/volist}
                    </dl>
                </li>
                {else /}
                    <li data-name="console" class="layui-nav-item">
                        <a lay-href="{$vo.path}">
                            <i class="layui-icon {$vo.icon}"></i>
                            <cite>{$vo.name}</cite>
                        </a>
                    </li>
                {/present}
            {/foreach}
        </ul>
    </div>
</div>