{extend name="layout/basic" /}

<!--标题-->
{block name="title"}角色管理{/block}

<!--样式-->
{block name="css"}
{/block}

<!--正文-->
{block name="content"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-role" data-type="batchdel">删除</button>
                <button class="layui-btn layuiadmin-btn-role" data-type="add">添加</button>
            </div>

            <table id="LAY-user-back-role" lay-filter="LAY-user-back-role"></table>
        </div>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="roleTbBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="auth">权限分配</a>
</script>

<!-- 表单弹窗 -->
<script type="text/html" id="roleEditDialog">
    <form id="roleEditForm" lay-filter="roleEditForm" class="layui-form model-form" style="padding: 20px 20px 0 0;">
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">角色名:</label>
            <div class="layui-input-block">
                <input name="name" placeholder="请输入角色名" class="layui-input"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">描述:</label>
            <div class="layui-input-block">
                <textarea name="desc" placeholder="请输入描述" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn" lay-filter="roleEditSubmit" lay-submit>保存</button>
            <button class="layui-btn layui-btn-primary closeDialog" type="button">取消</button>
        </div>
    </form>
</script>

<!-- 分配权限 -->
<script type="text/html" id="roleAssignDialog">
    <form id="roleAssignEditForm" lay-filter="roleAssignEditForm" class="layui-form model-form" style="height: 100%; padding: 10px 10px 0 10px;">
        <div class="layui-form-item" style="height: 78%; overflow: scroll; border-bottom: 1px solid #e6e6e6;">
            <div id="role-tree" style="padding-bottom: 20px"></div>
        </div>

        <div class="layui-form-item" style="position: absolute; right: 20px; bottom: 0px;">
            <button class="layui-btn" lay-filter="roleAssignEditSubmit" lay-submit>保存</button>
            <button class="layui-btn layui-btn-primary closeDialog" type="button">取消</button>
        </div>
    </form>
</script>
{/block}

{block name="footer_js"}
<script>
    layui.config({
        base: '__LAYUIADMIN__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'tree', 'util'], function () {
        var $ = layui.$
            , tree = layui.tree
            , form = layui.form
            , util = layui.util
            , table = layui.table;


        var roleTable = table.render({
            elem: '#LAY-user-back-role'
            , url: '/admin/role/list'
            , page: true //开启分页
            , parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.data //解析数据列表
                };
            }
            , cols: [[
                {type: 'checkbox'}
                , {field: 'id', width: 80, title: 'ID'}
                , {field: 'name', title: '角色名'}
                , {field: 'desc', title: '角色描述'}
                , {title: '操作', width: 200, align: 'center', fixed: 'right', toolbar: '#roleTbBar'}
            ]]
            , text: '对不起，加载出现异常！'
        });

        //事件
        var active = {
            batchdel: function () {
                var checkStatus = table.checkStatus('LAY-user-back-role')
                var checkRows = checkStatus.data;
                if (checkRows.length === 0) {
                    layer.msg('请选择要删除的数据', {icon: 2});
                    return;
                }
                var ids = checkRows.map((item) => item.id).join(',');
                layer.confirm('确定删除吗？', {icon: 2, title: '警告'}, function (index) {
                    $.ajax({
                        url: '/admin/role',
                        type: 'delete',
                        data: {ids},
                        success: function (res) {
                            if (res.code === 0) {
                                roleTable.reload(); //数据刷新
                                layer.close(index); //关闭弹层
                                layer.msg(res.msg, {icon: 1});
                                return;
                            }
                            layer.msg(res.msg, {icon: 2});
                        }
                    })
                });
            },
            add: function () {
                showEditModel();
            }
        }
        $('.layui-btn.layuiadmin-btn-role').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //监听工具条
        table.on('tool(LAY-user-back-role)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('确定删除此角色？', function (index) {
                    $.ajax({
                        url: '/admin/role/' + data.id,
                        type: 'delete',
                        success: function (res) {
                            if (res.code === 0) {
                                obj.del();
                                layer.close(index);
                                layer.msg(res.msg, {icon: 1});
                                return;
                            }
                            layer.msg(res.msg, {icon: 2});
                        }
                    })

                });
            } else if (obj.event === 'edit') {
                showEditModel(data);
            } else if (obj.event === 'auth') {
                showRoleEditModel();
            }
        });

        /* 显示权限分配弹窗 */
        function showRoleEditModel() {
            var layerForm = layer.open({
                type: 1
                , area: ['500px', '400px']
                , title: '权限分配'
                , content: $('#roleAssignDialog').html()
                , success: function (layero, dIndex) {
                    $.get('/admin/menu/treeList').then(res => {
                        //权限树渲染
                        tree.render({
                            elem: '#role-tree'
                            , data: res.data
                            , id: 'role-treeId'
                            , showCheckbox: true,  //是否显示复选框
                        });
                    });

                    // 关闭弹窗事件
                    $('.closeDialog').on("click", function () {
                        layer.close(layerForm);
                    })
                    // 表单提交事件
                    form.on('submit(roleAssignEditSubmit)', function (data) {
                        //var checkedData = tree.getChecked('role-treeId'); //获取选中节点的数据
                        var field = data.field;
                        console.log(field);

                        // var loadIndex = layer.load(2);
                        // $.ajax({
                        //     url: '/admin/role',
                        //     type:'post',
                        //     data: data,
                        //     success: function (res) {
                        //         if (res.code === 0) {
                        //             layer.msg(res.msg, {icon: 1});
                        //             layer.close(dIndex);
                        //             roleTable.reload(); //数据刷新
                        //             return;
                        //         }
                        //         layer.msg(res.msg, {icon: 2});
                        //     }
                        // });
                        // layer.close(loadIndex);
                        return false;
                    });
                }
            });
        }

        /* 显示表单弹窗 */
        function showEditModel(mData) {
            var layerForm = layer.open({
                type: 1
                , area: ['500px', '300px']
                , title: (mData ? '修改' : '添加') + '角色'
                , content: $('#roleEditDialog').html()
                , success: function (layero, dIndex) {
                    // 回显表单数据
                    form.val('roleEditForm', mData);
                    // 关闭弹窗事件
                    $('.closeDialog').on("click", function () {
                        layer.close(layerForm);
                    })
                    // 表单提交事件
                    form.on('submit(roleEditSubmit)', function (data) {
                        var loadIndex = layer.load(2);
                        $.ajax({
                            url: mData ? '/admin/role/' + mData.id : '/admin/role',
                            type: mData ? 'put' : 'post',
                            data: data.field,
                            success: function (res) {
                                if (res.code === 0) {
                                    layer.msg(res.msg, {icon: 1});
                                    layer.close(dIndex);
                                    roleTable.reload(); //数据刷新
                                    return;
                                }
                                layer.msg(res.msg, {icon: 2});
                            }
                        });
                        layer.close(loadIndex);
                        return false;
                    });
                }
            });
        }
    });
</script>
{/block}
