{extend name="layout/basic" /}

<!--标题-->
{block name="title"}菜单管理{/block}

<!--样式-->
{block name="css"}
{/block}

<!--正文-->
{block name="content"}
<!--表数据-->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <table id="treeTable"></table>
        </div>
    </div>
</div>

<!--列修改模版-->
<script type="text/html" id="tbBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<!-- 表单弹窗 -->
<script type="text/html" id="authoritiesEditDialog">
    <form id="authoritiesEditForm" lay-filter="authoritiesEditForm" class="layui-form model-form"
          style="padding: 20px 20px 0 0;">
        <div class="layui-row">
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">上级菜单</label>
                    <div class="layui-input-block">
                        <div id="authoritiesEditParentSel" class="ew-xmselect-tree"></div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">菜单名称:</label>
                    <div class="layui-input-block">
                        <input name="name" placeholder="请输入权限名称" class="layui-input" autocomplete="off"
                               lay-verType="tips" lay-verify="required" required/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">权限类型:</label>
                    <div class="layui-input-block">
                        <input name="type" type="radio" value="0" title="菜单" checked/>
                        <input name="type" type="radio" value="1" title="按钮"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">菜单路径:</label>
                    <div class="layui-input-block">
                        <input name="path" placeholder="请输入菜单路径" class="layui-input" autocomplete="off"/>
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">权限标识:</label>
                    <div class="layui-input-block">
                        <input name="authority" placeholder="请输入权限标识" class="layui-input" autocomplete="off"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">菜单图标:</label>
                    <div class="layui-input-block">
                        <input name="icon" type="text" id="iconPicker" lay-filter="iconPicker" class="hide">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">排序:</label>
                    <div class="layui-input-block">
                        <input name="sort" placeholder="请输入排序号" value="0" type="number" class="layui-input"
                               autocomplete="off"
                               lay-verType="tips" lay-verify="required|number" required/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label ">状态:</label>
                    <div class="layui-input-block">
                        <input type="checkbox" value="1" name="status" lay-skin="switch" lay-text="ON|OFF"
                               checked>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn" lay-filter="authoritiesEditSubmit" lay-submit>保存</button>
            <button class="layui-btn layui-btn-primary" type="button" id="authoritiesEditClose">取消</button>
        </div>
    </form>
</script>

{/block}

<!--JS-->
{block name="footer_js"}
<script>
    layui.config({
        base: '__LAYUIADMIN__/'
    }).extend({
        index: 'lib/index', //主入口模块
        treeTable: '{/}__LAYUIADMIN__/lib/extend/treeTable/treeTable',
        xmSelect: '{/}__LAYUIADMIN__/lib/extend/xmSelect/xmSelect',
        iconPicker: '{/}__LAYUIADMIN__/lib/extend/iconPicker/iconPicker'
    }).use(['layer', 'util', 'treeTable', 'xmSelect', 'iconPicker'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var treeTable = layui.treeTable;
        var xmSelect = layui.xmSelect;
        var iconPicker = layui.iconPicker;
        $('body').removeClass('layui-hide');

        // 渲染表格
        var insTb = treeTable.render({
            elem: '#treeTable',
            url: '/admin/menu/list',
            toolbar: ['<p>',
                '<button lay-event="add" class="layui-btn layui-btn-sm icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>&nbsp;',
                '<button lay-event="del" class="layui-btn layui-btn-sm layui-btn-danger icon-btn"><i class="layui-icon">&#xe640;</i>删除</button>',
                '</p>'].join(''),
            tree: {
                iconIndex: 1,
                isPidData: true,
                idName: 'id',
                pidName: 'pid'
            },
            defaultToolbar: ['filter', 'exports'],
            cols: [[
                // {type: 'numbers'},
                {type: 'checkbox'},
                // {field: 'id', title: 'id', align: 'center', width: 30},
                {field: 'name', title: '名称', minWidth: 100},
                {title: '图标', templet: '<p><i class="layui-icon {{d.icon}}"></i></p>', align: 'center', width: 80},
                {field: 'path', title: '路径'},
                {field: 'authority', title: '权限标识'},
                {
                    title: '类型', templet: function (d) {
                        return [
                            '<span class="layui-badge layui-badge-green">菜单</span>',
                            '<span class="layui-badge layui-badge-gray">按钮</span>'
                        ][d.type];
                    }, align: 'center', width: 80
                },
                {
                    title: '状态', templet: function (d) {
                        return [
                            '<input type="checkbox" lay-filter="status" data-id="' + d.id + '" name="status" lay-skin="switch" lay-text="ON|OFF">',
                            '<input type="checkbox" lay-filter="status" data-id="' + d.id + '" name="status" lay-skin="switch" lay-text="ON|OFF" checked>'
                        ][d.status];
                    }, align: 'center', width: 80
                },
                {field: 'sort', title: '排序', align: 'center', width: 80},
                // {title: '创建时间', templet: '<p>{{layui.util.toDateString(d.createTime)}}</p>', align: 'center'},
                {title: '操作', toolbar: '#tbBar', align: 'center', width: 120}
            ]],
            done: function (data) {
                tbDataList = data;
            }
        });

        // 工具列点击事件
        treeTable.on('tool(treeTable)', function (obj) {
            var event = obj.event;
            var id = obj.data.id;
            if (event === 'del') {
                layer.confirm('确定删除吗？', {icon: 2, title: '警告'}, function (index) {
                    $.ajax({
                        url: '/admin/menu/' + id,
                        type: 'delete',
                        success: function (res) {
                            if (res.code === 0) {
                                obj.del();
                                layer.close(index); //关闭弹层
                            }
                            layer.msg(res.msg);
                        }
                    })
                });
            } else if (event === 'edit') {
                showEditModel(obj.data);
            }
        });

        // 头部工具栏点击事件
        treeTable.on('toolbar(treeTable)', function (obj) {
            switch (obj.event) {
                case 'add':
                    showEditModel();
                    break;
                case 'del':
                    var checkRows = insTb.checkStatus();
                    if (checkRows.length === 0) {
                        layer.msg('请选择要删除的数据', {icon: 2});
                        return;
                    }
                    var ids = checkRows.map((item) => {
                        if (!item.isIndeterminate) {
                            return item.id;
                        }
                    }).join(',');
                    layer.confirm('确定删除吗？', {icon: 2, title: '警告'}, function (index) {
                        $.ajax({
                            url: '/admin/menu',
                            type: 'delete',
                            data: {ids},
                            success: function (res) {
                                if (res.code === 0) {
                                    insTb.refresh();
                                    layer.close(index); //关闭弹层
                                }
                                layer.msg(res.msg, {icon: 1});
                            }
                        })
                    });
                    break;
            }
        });

        // 修改菜单状态
        form.on('switch(status)', function (data) {
            var id = data.elem['dataset'].id;
            var status = data.elem.checked ? 1 : 0;
            $.ajax({
                url: '/admin/menu/' + id,
                type: 'put',
                data: {status},
                success: function (res) {
                    if (res.code === 0) {
                        layer.msg(res.msg, {icon: 1});
                        return;
                    }
                    layer.msg(res.msg, {icon: 2});
                }
            })
        });

        /* 显示表单弹窗 */
        function showEditModel(mData) {
            var layerForm = layer.open({
                type: 1,
                area: '600px',
                title: (mData ? '修改' : '添加') + '菜单',
                content: $('#authoritiesEditDialog').html(),
                success: function (layero, dIndex) {
                    // 回显表单数据
                    form.val('authoritiesEditForm', mData);
                    // 表单关闭事件
                    $('#authoritiesEditClose').on("click", function () {
                        layer.close(layerForm);
                    })
                    // 表单提交事件
                    form.on('submit(authoritiesEditSubmit)', function (data) {
                        data.field.pid = insXmSel.getValue('valueStr');
                        var loadIndex = layer.load(2);
                        $.ajax({
                            url: mData ? '/admin/menu/' + mData.id : '/admin/menu',
                            type: mData ? 'put' : 'post',
                            data: data.field,
                            success: function (res) {
                                if (res.code === 0) {
                                    layer.msg(res.msg, {icon: 1});
                                    layer.close(dIndex);
                                    insTb.refresh();
                                    return;
                                }
                                layer.msg(res.msg, {icon: 2});
                            }
                        });
                        layer.close(loadIndex);
                        return false;
                    });
                    // 渲染icon图标选择
                    iconPicker.render({
                        // 选择器，推荐使用input
                        elem: '#iconPicker',
                        // 数据类型：fontClass/unicode，推荐使用fontClass
                        type: 'fontClass',
                        // 是否开启搜索：true/false，默认true
                        search: true,
                        // 是否开启分页：true/false，默认true
                        page: true,
                        // 每页显示数量，默认12
                        limit: 12,
                        cellWidth: '43px',
                        // 点击回调
                        click: function (data) {
                            iconPicker.checkIcon('iconPicker', data['icon']);
                        },
                        // 渲染成功后的回调
                        // success: function (d) {
                        //     iconPicker.checkIcon('iconPicker', '');
                        // }
                    });
                    // 渲染下拉树
                    insTb.options.data.unshift({'name': '顶级菜单', 'id': 0});
                    var insXmSel = xmSelect.render({
                        el: '#authoritiesEditParentSel',
                        height: '250px',
                        data: insTb.options.data,
                        initValue: mData ? [mData.pid] : [],
                        model: {label: {type: 'text'}},
                        prop: {
                            name: 'name',
                            value: 'id'
                        },
                        radio: true,
                        clickClose: true,
                        tree: {
                            show: true,
                            indent: 15,
                            strict: false,
                            expandedKeys: true
                        }
                    });
                    // 弹窗不出现滚动条
                    $(layero).children('.layui-layer-content').css('overflow', 'visible');
                }
            });
        }

    });
</script>
{/block}