{extend name="layout/basic" /}

<!--标题-->
{block name="title"}菜单管理{/block}

<!--样式-->
{block name="css"}
{/block}

<!--正文-->
{block name="content"}
<!--表数据-->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <table id="treeTable"></table>
        </div>
    </div>
</div>

<!--列修改模版-->
<script type="text/html" id="tbBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<!-- 表单弹窗 -->
<script type="text/html" id="authoritiesEditDialog">
    <form id="authoritiesEditForm" lay-filter="authoritiesEditForm" class="layui-form model-form"
          style="padding: 20px 20px 0 0;">
        <input name="authorityId" type="hidden"/>
        <div class="layui-row">
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">上级菜单</label>
                    <div class="layui-input-block">
                        <div id="authoritiesEditParentSel" class="ew-xmselect-tree"></div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">权限名称:</label>
                    <div class="layui-input-block">
                        <input name="authorityName" placeholder="请输入权限名称" class="layui-input"
                               lay-verType="tips" lay-verify="required" required/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">权限类型:</label>
                    <div class="layui-input-block">
                        <input name="isMenu" type="radio" value="0" title="菜单" checked/>
                        <input name="isMenu" type="radio" value="1" title="按钮"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">菜单url:</label>
                    <div class="layui-input-block">
                        <input name="menuUrl" placeholder="请输入菜单url" class="layui-input"/>
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">权限标识:</label>
                    <div class="layui-input-block">
                        <input name="authority" placeholder="请输入权限标识" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">菜单图标:</label>
                    <div class="layui-input-block">
                        <input name="menuIcon" placeholder="请输入菜单图标" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">排序号:</label>
                    <div class="layui-input-block">
                        <input name="orderNumber" placeholder="请输入排序号" type="number" class="layui-input"
                               lay-verType="tips" lay-verify="required|number" required/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">状态:</label>
                    <div class="layui-input-block">
                        <input type="checkbox" lay-filter="status" name="status" lay-skin="switch" lay-text="ON|OFF"
                               checked>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn" lay-filter="authoritiesEditSubmit" lay-submit>保存</button>
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        </div>
    </form>
</script>

{/block}

<!--JS-->
{block name="footer_js"}
<script>
    layui.config({
        base: '__LAYUIADMIN__/'
    }).extend({
        index: 'lib/index', //主入口模块
        treeTable: '{/}__LAYUIADMIN__/lib/extend/treeTable/treeTable',
        xmSelect: '{/}__LAYUIADMIN__/lib/extend/xmSelect/xmSelect'
    }).use(['layer', 'util', 'treeTable', 'xmSelect'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var treeTable = layui.treeTable;
        var xmSelect = layui.xmSelect;
        var tbDataList = [];

        // 渲染表格
        var insTb = treeTable.render({
            elem: '#treeTable',
            url: '/admin/menu/list',
            toolbar: ['<p>',
                '<button lay-event="add" class="layui-btn layui-btn-sm icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>&nbsp;',
                '<button lay-event="del" class="layui-btn layui-btn-sm layui-btn-danger icon-btn"><i class="layui-icon">&#xe640;</i>删除</button>',
                '</p>'].join(''),
            tree: {
                iconIndex: 2,
                isPidData: true,
                idName: 'id',
                pidName: 'pid'
            },
            defaultToolbar: ['filter', 'exports'],
            cols: [[
                {type: 'checkbox'},
                {field: 'id', title: 'id', align: 'center', width: 30},
                {field: 'name', title: '权限名称', minWidth: 150},
                {title: '菜单图标', templet: '<p><i class="layui-icon {{d.icon}}"></i></p>', align: 'center', width: 100},
                {field: 'path', title: '菜单url'},
                {field: 'authority', title: '权限标识'},
                {
                    title: '状态', templet: function (d) {
                        return [
                            '<input type="checkbox" lay-filter="status" data-id="' + d.id + '" name="status" lay-skin="switch" lay-text="ON|OFF">',
                            '<input type="checkbox" lay-filter="status" data-id="' + d.id + '" name="status" lay-skin="switch" lay-text="ON|OFF" checked>'
                        ][d.status];
                    }, align: 'center', width: 80
                },
                {field: 'sort', title: '排序号', align: 'center', width: 80},
                {
                    title: '类型', templet: function (d) {
                        return [
                            '<span class="layui-badge layui-badge-green">菜单</span>',
                            '<span class="layui-badge layui-badge-gray">按钮</span>'
                        ][d.type];
                    }, align: 'center', width: 80
                },
                {title: '创建时间', templet: '<p>{{layui.util.toDateString(d.createTime)}}</p>', align: 'center'},
                {title: '操作', toolbar: '#tbBar', align: 'center', width: 120}
            ]],
            done: function (data) {
                tbDataList = data;
            }
        });

        // 工具列点击事件
        treeTable.on('tool(treeTable)', function (obj) {
            var event = obj.event;
            var id = obj.data.id;
            if (event === 'del') {
                layer.confirm('确定删除吗？', {icon: 2, title: '警告'}, function (index) {
                    $.ajax({
                        url: '/admin/menu/' + id,
                        type: 'delete',
                        success: function (res) {
                            if (res.code === 0) {
                                obj.del();
                                layer.close(index); //关闭弹层
                            }
                            layer.msg(res.msg);
                        }
                    })
                });
            } else if (event === 'edit') {
                layer.msg('修改成功');
                obj.update({authorityName: '新的名称'});
            }
        });

        // 头部工具栏点击事件
        treeTable.on('toolbar(treeTable)', function (obj) {
            switch (obj.event) {
                case 'add':
                    showEditModel();
                    break;
                case 'del':
                    var checkRows = insTb.checkStatus();
                    if (checkRows.length === 0) {
                        layer.msg('请选择要删除的数据', {icon: 2});
                        return;
                    }
                    var ids = checkRows.map((item) => {
                        if (!item.isIndeterminate) {
                            return item.id;
                        }
                    }).join(',');
                    layer.confirm('确定删除吗？', {icon: 2, title: '警告'}, function (index) {
                        $.ajax({
                            url: '/admin/menu',
                            type: 'delete',
                            data: {ids},
                            success: function (res) {
                                if (res.code === 0) {
                                    insTb.refresh();
                                    layer.close(index); //关闭弹层
                                }
                                layer.msg(res.msg, {icon: 1});
                            }
                        })
                    });
                    break;
            }
        });

        // 修改菜单状态
        form.on('switch(status)', function (data) {
            var id = data.elem['dataset'].id;
            var status = data.elem.checked ? 1 : 0;
            $.ajax({
                url: '/admin/menu/' + id,
                type: 'put',
                data,
                success: function (res) {
                    if (res.code === 0) {
                        insTb.refresh();
                    }
                    layer.msg(res.msg, {icon: 1});
                }
            })
        });

        /* 显示表单弹窗 */
        function showEditModel(mData) {
            layer.open({
                type: 1,
                area: '600px',
                title: (mData ? '修改' : '添加') + '菜单',
                content: $('#authoritiesEditDialog').html(),
                success: function (layero, dIndex) {
                    // 回显表单数据
                    form.val('authoritiesEditForm', mData);
                    // 表单提交事件
                    form.on('submit(authoritiesEditSubmit)', function (data) {
                        data.field.parentId = insXmSel.getValue('valueStr');
                        var loadIndex = layer.load(2);
                        // $.get(mData ? '../../json/ok.json' : '../../json/ok.json', data.field, function (res) {
                        //     layer.close(loadIndex);
                        //     if (res.code === 200) {
                        //         layer.close(dIndex);
                        //         layer.msg(res.msg, {icon: 1});
                        //         insTb.refresh();
                        //     } else {
                        //         layer.msg(res.msg, {icon: 2});
                        //     }
                        // }, 'json');
                        return false;
                    });
                    // 渲染下拉树
                    var insXmSel = xmSelect.render({
                        el: '#authoritiesEditParentSel',
                        height: '250px',
                        data: insTb.options.data,
                        initValue: mData ? [mData.parentId] : [],
                        model: {label: {type: 'text'}},
                        prop: {
                            name: 'name',
                            value: 'id'
                        },
                        radio: true,
                        clickClose: true,
                        tree: {
                            show: true,
                            indent: 15,
                            strict: false,
                            expandedKeys: true
                        }
                    });
                    // 弹窗不出现滚动条
                    $(layero).children('.layui-layer-content').css('overflow', 'visible');
                }
            });
        }
    });
</script>
{/block}