<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__STATIC__/layuiadmin/layui/css/layui.css" media="all">
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none !important;
            margin: 0;
        }
    </style>
</head>
<body>

{empty name="info"}
<div class="layui-form" style="padding: 20px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">*上级</label>
        <div class="layui-input-inline">
            <select name="pid">
                <option value="0">顶级菜单</option>
                {foreach $list as $key=>$vo }
                    <option value="{$vo.id}">{$vo.name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">*名称</label>
        <div class="layui-input-inline">
            <input type="text" name="name" lay-verify="required" placeholder="请输入名称" class="layui-input"
                   autocomplete="off">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">*链接</label>
        <div class="layui-input-inline">
            <input type="text" name="path" lay-verify="required" placeholder="请输入链接" class="layui-input"
                   autocomplete="off">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">*排序</label>
        <div class="layui-input-inline">
            <input class="layui-input" name="sort" type="number" value="0" min="0" max="254" autocomplete="off"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图标</label>
        <div class="layui-input-block">
            <input type="text" id="iconPicker" name="icon" lay-filter="iconPicker" class="hide">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-inline">
            <input type="checkbox" name="status" value="1" lay-skin="switch" lay-text="ON|OFF" checked>
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="LAY-menu-front-submit" id="LAY-menu-front-submit" value="确认">
    </div>
</div>
{else /}
<div class="layui-form" style="padding: 20px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">*上级</label>
        <div class="layui-input-inline">
            <select name="pid">
                <option value="0">顶级菜单</option>
                {foreach $list as $key=>$vo }
                <option value="{$vo.id}" {if $info.pid == $vo.id}selected{/if}>{$vo.name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">*名称</label>
        <div class="layui-input-inline">
            <input type="text" name="name" lay-verify="required" value="{$info.name}" placeholder="请输入名称" class="layui-input"
                   autocomplete="off">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">*链接</label>
        <div class="layui-input-inline">
            <input type="text" name="path" lay-verify="required" value="{$info.path}" placeholder="请输入链接" class="layui-input"
                   autocomplete="off">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">*排序</label>
        <div class="layui-input-inline">
            <input class="layui-input" name="sort" type="number" value="{$info.sort}" min="0" max="254" autocomplete="off"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图标</label>
        <div class="layui-input-block">
            <input type="text" id="iconPicker" name="icon" value="{$info.icon}" lay-filter="iconPicker" class="hide">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-inline">
            <input type="checkbox" name="status" value="1" lay-skin="switch" lay-text="ON|OFF" {if $info.status==1}checked{/if}>
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="LAY-menu-front-submit" id="LAY-menu-front-submit" value="确认">
    </div>
</div>
{/empty}

<script src="__STATIC__/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '__STATIC__/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index', //主入口模块
        iconPicker: '{/}__STATIC__/layuiadmin/lib/extend/iconPicker/iconPicker'
    }).use(['index', 'form', 'iconPicker'], function () {
        var $ = layui.$
            , iconPicker = layui.iconPicker
            , form = layui.form;

        iconPicker.render({
            // 选择器，推荐使用input
            elem: '#iconPicker',
            // 数据类型：fontClass/unicode，推荐使用fontClass
            type: 'fontClass',
            // 是否开启搜索：true/false，默认true
            search: true,
            // 是否开启分页：true/false，默认true
            page: true,
            // 每页显示数量，默认12
            limit: 12,
            // 点击回调
            click: function (data) {
                $('#iconPicker').val(data['icon']);
            },
            // 渲染成功后的回调
            success: function(d) {
                $('#iconPicker').val(d['data'][0]);
            }
        });

    })
</script>
</body>
</html>